*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #011322;
    color: white;
}

nav{
    display: flex;
    justify-content:space-around;
    background-color: #0a3253;
    height: 5vh;
    padding-top: 2vh;
}


li{
display: inline;
margin: 0px 20px;
}

.title{
    margin: 0px 20px;
font-size: 1.5rem;
}